.dashboard-container {
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.dashboard-video {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 0;
    /* overflow-y: auto; */
    height: 60vh;
    width: 100%;
}

.dashboard-products {
    position: relative;
    z-index: 100;
    background-color: #F1F4F9;
    border-radius: 20px 20px 0 0;
}

.not-found-container {
    background-color: #fff;
}