.tagged-products-sm-container {
    height: 98px;
    width: 310px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Poppins';
}

.tagged-products-sm-img {
    max-height: 48px;
    max-width: 48px;
    min-height: 48px;
    min-width: 48px;
    border-radius: 8px;
    object-fit: contain;
}

.tagged-products-sm-btn {
    height: 25px;
    width: 61px;
    border-radius: 100px;
    background-color: #021927;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
}